@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
body {
    background-color: hsl(212, 45%, 89%);
}

.main {
    margin: auto;
    margin-top: 110px;
    width: 315px;
    height: 500px;
    /* transform: translateX(170%);
    transform: translateY(50%); */
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
}

img {
    width: 285px;
    height: 285px;
    padding: 15px;
    border-radius: 10%;
}

.content {
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    text-align: center;
}

span {
    color: hsl(218, 44%, 22%);
    font-weight: bolder;
    font-size: 23px;
}

p {
    color: hsl(220, 15%, 55%);
}

.attribution {
    margin-top: 15px;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}